html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

body {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1, #9a0000), color-stop(0, #400000));
  background: -moz-linear-gradient(right bottom, #9a0000 0%, #400000 100%);
  
}

body, a, a:visited, a:active {
  color: #EEE;
  font-family: Rockwell;
} 

h1 {
  font-size: 4em;
  -moz-transition: opacity 1s linear;
}

h2 {
  font-size: 1.46em;
  margin-top: -15px;
  -moz-transition: opacity 1s linear;
}

.base {
  margin-left: 50px;
}

.actions {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -300px;
}

#play {
  position: absolute;
  left: 15%;
  top: 50px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background: blue;
  text-indent: -10000px;
  -moz-transition: opacity 1s linear;
}

#play.playing {
  background: grey;
}

#record {
  position: absolute;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  text-indent: -10000px;
  background: red;
}

#time {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 100px;
  height: 30px;
  margin-left: -50px;
  text-align: center;
  -moz-transition: opacity 1s linear;
}

#record-stop {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 100px;
  height: 100px;
  margin-left: -50;
  text-indent: -10000px;
  background: blue;
  opacity: 0;
  display: none;
}

#share {
  position: absolute;
  left: 85%;
  top: 50px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background: blue;
  text-indent: -10000px;
}

.hidden {
  opacity: 0;
}

#record-instruction {
  position: absolute;
  left: 75%;
  top: 250px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background: yellow;
  text-indent: -10000px;
  margin-top: -10px;
  -moz-transition: opacity 1s linear,top 1s ease-out;
}

#play-instruction {
  position: absolute;
  left: -5%;
  top: 250px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background: yellow;
  text-indent: -10000px;
  margin-top: -50px;
  -moz-transition: opacity 1s linear,top 1s ease-out;
}

#share-instruction {
  position: absolute;
  left: 105%;
  top: 250px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  background: yellow;
  text-indent: -10000px;
  margin-top: -50px;
  -moz-transition: opacity 1s linear,top 1s ease-out;
}

.moveup {
  top: 240px !important;
}