%html
  %head
    %title RecButton
    %meta{:name => "description", :content => 'record audio in your browser and share instantly'}
    %link{:rel => "image_src", :href => '/images/recbutton-159x159.png'}

    %script{:src => '/javascripts/jquery.js'}
    -#    %script{:src => 'http://connect.soundcloud.com/base.js'}
    %script{:src => '/javascripts/connect.js'}
    %script{:src => '/javascripts/swfobject.js'}
    %script{:src => '/javascripts/recorder.js'}
    %script{:src => '/javascripts/home_controller.js'}
    %script{:src => '/javascripts/ga_tracking.js'}

    = stylesheet_link_tag 'base'

  %body
    .head
      %h1.hidden RecButton

    .share-actions.hidden
      %input#permalink-url{:value => "testingasdfsa d asdf"}
      %a#share-fb{:href => '#facebook'} Facebook
      %a#share-twitter{:href => '#twitter'} Twitter
      %div#share-more-instruction Share more
      %div#your-track-instruction Your track

    .actions
      #time.hidden 00:00
      %a#play.hidden{:href => '#play'} Play
      %a#record{:href => '#record'} Record
      %a#record-stop.hidden{:href => '#record-stop'} Stop recording
      %a#share.hidden{:href => '#share'} Share
      %div#record-instruction.hidden Click to record
      %div#play-instruction.hidden Play
      %div#share-instruction.hidden Share
      = render :partial => 'home/flash_object', :object => {:id => 'recorder', :height => 140, :width => 230, :src => '/swf/recorder.swf', :wmode => 'transparent', :allowscriptaccess => 'always'}