%html
  %head
    %title RecButton
    %script{:src => '/javascripts/jquery.js'}
    -#    %script{:src => 'http://connect.soundcloud.com/base.js'}
    %script{:src => '/javascripts/connect.js'}
    %script{:src => '/javascripts/recorder.js'}
    %script{:src => '/javascripts/home_controller.js'}
    = stylesheet_link_tag 'base'

  %body
    .head
      %h1 RecButton
      %h2 welcome to teh intersoundz

    .actions
      %a#play{   :href => '#play'  } Play
      %a#record{ :href => '#record'} Record
      %a#share{   :href => '#share' } Share

    = render :partial => 'home/flash_object', :object => {:id => 'recorder', :height => 140, :width => 230, :src => '/swf/recorder.swf', :wmode => 'transparent', :allowscriptaccess => 'always'}
  
  