<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>SoundBoard Redux - <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'base' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>
<body>
	<div id="sitewrapper">
		<h1>SoundBoard Redux</h1>
    <div id="description">
      Soundboard is a demo app for showing how Connect with SoundCloud works.
    </div>
		<div id="content">
			<%= yield :layout %>
		</div>
		<div id="footer">
			&copy; SoundBoard Redux 2010
		</div>
	</div>
</body>
</html>

